*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
background: #e9cdcc;
}
H1{
  color: #a67a87;
  font-size: 20vh;
  /* animation-name: m;
  animation-duration: .7s; */
}
h2{
  color: #ffff;
}
.flex{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
}
/* @keyframes m {
    0% {
      opacity: .5;
      transform: scale(.1) rotate(340deg);
    }
    25% {
      color: #c2b6b4;
      transform: scale(.3) rotate(380deg);
    }
    50% {
      color: #ddd0ce;
      transform: scale(.5) rotate(390deg);
    }
} */
