<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Alef" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/maythe.css">
    <title>Maythé</title>
  </head>
  <body>
    <div class="header">
      <ul class="right">
        <li><a href="#">Mis habilidades</a></li>
        <li><a href="#">Mis trabajos</a></li>
        <li><a href="#">Contáctame</a></li>
      </ul>
    </div>
    <div class="row">
      <!---description about-me-->
      <div class="col l7 col m6 empty hide-on-small-only">
      </div>
      <div class="col l5 col m6 col s12 about-me">
        <div class="padding center">
          <h6>"La primera y la más simple emoción que descubrimos en la mente humana es la curiosidad y el único modo de salir de una caja cerrada es inventar la manera de salir; así soy yo..."</h6>
          <h4>Hola, soy Maythé</h4>
          <p>Curiosa de nacimiento, exploradora desde mi niñez; mi constante interés por aprender me llevó a conocer más de cerca el mundo de la tecnología.<br> <br>Egresada de Laboratoria , especialista en diseño de experiencia de usuario. Me gusta crear y proponer soluciones amigables, innovadoras, viables y sostenibles.</p>
        </div>
      </div>
      <!---images-->
    </div>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
  </body>
</html>
