<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Alef" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/maythe.css">
    <title>Maythé</title>
  </head>
  <body>
    <!---about me-->
    <div class="row about-me" id="about-me">
      <!---navbar-->
      <div class="navbar row">
        <div class="col l7">
        </div>
        <div class="text-align-right col l5">
          <ul class="  col l12">
            <li class="col s4 l4"><a href="skills.html">Mis habilidades</a></li>
            <li class="col s4 l4"><a href="#">Mis trabajos</a></li>
            <li class="col s4 l4"><a href="#">Contáctame</a></li>
          </ul>
        </div>
      </div>
      <div class="col l7 col m6 empty hide-on-small-only"></div>
      <!---description about-me-->
      <div class="col l5 col m6 col s12 description">
        <div class="padding center">
          <h6>"La primera y la más simple emoción que descubrimos en la mente humana es la curiosidad y el único modo de salir de una caja cerrada es inventar la manera de salir; así soy yo..."</h6>
          <h4>Hola, soy Maythé</h4>
          <p>Curiosa de nacimiento, exploradora desde mi niñez; mi constante interés por aprender me llevó a conocer más de cerca el mundo de la tecnología.<br> <br>Egresada de Laboratoria , especialista en diseño de experiencia de usuario. Me gusta crear y proponer soluciones amigables, innovadoras, útiles e usables.</p>
        </div>
      </div>
    </div>
    <!---skills-->
    <div class="container" id="skills">
      <div class="row">
        <div class="col l4">
          <img class="icon" class="icons-skills" src="../assets/img/creative.png" alt="creative">
        </div>
        <div class="col l4">
          <img class="icons-skills" src="../assets/img/comunication.png" alt="comunication">
        </div>
        <div class="col l4">
          <img class="icons-skills" src="../assets/img/team.png" alt="team">
        </div>
      </div>
      <div class="row">
        <div class="col l4">
          <img class="icons-skills" src="../assets/img/social.png" alt="social">
        </div>
        <div class="col l4">
        </div>
        <div class="col l4">
        </div>
      </div>
    </div>
    <!---contac me -->
    <div class="row contac">
      <div class="col s4 l4 m4">
        <p>email</p>
      </div>
      <div class="col s4 l4 m4">
        <p>redes</p>
      </div>
      <div class="col s4 l4 m4">
        <p>teléfono</p>
      </div>
    </div>
    <script src="../vendors/js-jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/maythe.js"></script>
  </body>
</html>
