<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Alef" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/maythe.css">
    <title>Habilidades</title>
  </head>
  <body>
    <!---skills-->
    <div class="row" id="skills">
      <div class="slider fullscreen skills">
        <ul class="slides">
          <!---soft skills-->
          <li class="soft-skills center">
            <h4>Habilidades blandas</h4>
            <div class="row">
              <div class="col l4 m4 s4">
                <div class="circle bckg1">
                  <img class="icons-skills" src="../assets/img/creative.png" alt="creative">
                </div>
              </div>
              <div class="col l4 m4 s4">
                <div class="circle bckg2">
                  <img class="icons-skills" src="../assets/img/comunication.png" alt="comunication">
                </div>
              </div>
              <div class="col l4 m4 s4">
                <div class="circle bckg3">
                  <img class="icons-skills" src="../assets/img/team.png" alt="team">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col l4 m4 s4">
                <div class="circle bckg4">
                  <img class="icons-skills" src="../assets/img/social.png" alt="social">
                </div>
              </div>
              <div class="col l4 m4 s4">
                <div class="circle bckg5">
                  <img class="icons-skill" src="../assets/img/proactive.png" alt="proactive">
                </div>
              </div>
              <div class="col l4 m4 s4">
                <div class="circle bckg1">
                  <img class="icons-skill" src="../assets/img/leader.png" alt="leader">
                </div>
              </div>
            </div>
          </li>
          <!---tech skills-->
          <li class="tech-skills">
            <h4>Habilidades Técnicas</h4>
            <div class="row">
              <div class="col l4 m4 s4">
                <div class="circle circle-tech">
                  <img class="icons-skills" src="../assets/img/html.png" alt="html5">
                </div>
              </div>
              <div class="col l4 m4 s4">
                <div class="circle">
                  <img class="icons-skills" src="../assets/img/css.png" alt="css3">
                </div>
              </div>
              <div class="col l4 m4 s4">
                <div class="circle">
                  <img class="icons-skills" src="../assets/img/js.png" alt="js">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col l4 m4 s4">
                <div class="circle">
                  <img class="icons-skills" src="../assets/img/boostrap.png" alt="boostrap">
                </div>
              </div>
              <div class="col l4 m4 s4">
                <div class="circle">
                  <img class="icons-skill" src="../assets/img/materialize.png" alt="materialize">
                </div>
              </div>
              <div class="col l4 m4 s4">
                <div class="circle">
                  <img class="icons-skill" src="../assets/img/git.png" alt="git">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!---JavaScript-->
    <script src="../vendors/js-jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/maythe.js"></script>
  </body>
</html>
